a {
    font-weight: bold;
    text-decoration: none;
    color: white;
}

button {
    text-decoration: none;
    border: none;
    font-size: 30px;
    height: 30px;
    width: 30px;
    background-color: transparent;
    outline: none;
}

.city_container {
    display: flex;
    padding: 10px;
}

.city_container_item_temp {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.city_container_item_set {
    border-left: 2px solid white;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}


