.App {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4%;
    color: white;
    font-weight: bold;
}

.wrapper {
    width: 470px;
    height: 220px;
    background-color: #162B58;
    border-radius: 20px;
    border: 10px solid #162B58;
}


