.App {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4%;
}

.wrapper {
    border: 1px solid black;
    width: 700px;
    height: 600px;
    background-color: #F0F8FD;
}


