.App {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4%;
}

.wrapper {
    width: 500px;
    height: 400px;
    background-color: #28607F;
    border-radius: 20px;
    border: 10px solid #28607F;
}


